{% extends "bloggits/base.html" %}

{% block page_header %}
    <div class="jumbotron">
        <h1 class="display-3">Welcome to Bloggit.</h1>

        <p class="lead">The back page of the internet. Bloggit gives you the least of the 
            internet in one place. Get a rarely updating blog of random 
            information, just for nobody.</p>

        <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
            role="button">Register &raquo;</a>
    </div>

{% endblock page_header %}


{% block content %}

{% endblock content %}